legacy-peer-deps=false
strict-peer-dependencies=true
auto-install-peers=false
resolution-mode=highest
shamefully-hoist=true
node-linker=hoisted

public-hoist-pattern[]=*@vitejs*
public-hoist-pattern[]=*vitest*
public-hoist-pattern[]=*@testing-library*
